.destinos-card {
    width: 25vw;
    // height: 50vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 2rem;
    
    display:flex;
    flex-direction: column;
    text-align: center;
    
    background: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);

    #Link-Style {
        text-decoration: none;
        color: black;
    
        .card-img-top {
            width: 25vw;
            height: 28vh;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }          

        .card-body {
            padding: 0.5rem 1.25rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .card-title {
            }

            .card-info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                >div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                }

                .card-text {
                    text-align: center;

                    >strong {
                        color: #32960E;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}    
